n8n/Workflow.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "upload-excel",
                "options": {
                    "binaryPropertyName": "data",
                    "rawBody": false
                }
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -288,
                -48
            ],
            "id": "0f35e208-9ae9-4836-9755-55ad48e8dcde",
            "name": "Webhook",
            "webhookId": "a4c36e88-675b-4993-bdc6-ee54f939e732"
        },
        {
            "parameters": {
                "operation": "xlsx",
                "binaryPropertyName": "data0",
                "options": {}
            },
            "type": "n8n-nodes-base.extractFromFile",
            "typeVersion": 1.1,
            "position": [
                -80,
                -48
            ],
            "id": "7ccba4e2-0a1d-47de-af1a-f7945e04ad35",
            "name": "Extract from File"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                128,
                -48
            ],
            "id": "82a4c6de-6e44-41e3-b32f-247fed8d46ae",
            "name": "Loop Over Items"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.ultramsg.com/<REPLACE_WITH_YOUR_INSTANCE_ID>/messages/chat?token=<REPLACE_WITH_YOUR_TOKEN>",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"to\": \"91{{ $json.Contact }}\",\n  \"body\": \"Hello {{ $json.Name }}, congratulations! Based on your profile evaluation, you have been selected for the next round of our Cloud & DevOps hiring process. Our team will contact you soon with further details. Thank you for your interest.\"\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                336,
                -144
            ],
            "id": "1f77c486-6047-4008-9105-f8b17ff0846c",
            "name": "HTTP Request"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Extract from File",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract from File": {
            "main": [
                [
                    {
                        "node": "Loop Over Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Over Items": {
            "main": [
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Loop Over Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "1d49ce8193ceba2032d81b72f39f48f67dfcab78213fd848d396c8b2a6ba0293"
    }
}
